.box {
    height: 300px;
    width: 200px;
    background-color: lightblue;
    margin: 10px;
}

.scrollable-box {
    width: 200px;
    height: 300px;
    overflow: auto;
    margin: 10px;
    background-color: lightgreen;
}

.tall-box {
    height: 1000px;
    width: 150px;
    border: 1px solid red;
}


/*------- scrollculator styles ----------*/

#scrollculator {
    position: fixed;
    top: 20px;
    right: 0;
    background-color: lightcoral;
    height: 55px;
    transition: transform 0.2s;
    transform: translateX(90%);
}

#scrollculator.visible,
#scrollculator:hover {
    transform: translateX(0px);
}
